{{ $obj := .Get "obj"}}
{{ $mtl := .Get "mtl" }}
{{ $name := default "3DF Zephyr Model" (.Get "name") }}

<style>
    #info {
        color: #000000;
        position: absolute;
        top: 10px;
        width: 100%;
        text-align: center;
        z-index: 100;
        display:block;
    }
    #info a {
        color: #f00;
        font-weight: bold;
        text-decoration: underline;
        cursor: pointer
    }
    #glFullscreen {
        width: 100%;
        height: 100vh;
        position: relative;
        overflow: hidden;
        z-index: 0;
    }
    #_3dzf {
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: #000000;
    }
    #feedback {
        color: darkorange;
    }
    #dat {
        user-select: none;
        position: absolute;
        left: 0;
        top: 0;
        z-Index: 200;
    }
</style>

<link rel="stylesheet" href="/css/sc_3dfz.css">

<div id="glFullscreen">
    <div id="info">
        <div id="feedback"></div>
    </div>
    <canvas id="_3dzf"></canvas>
</div>
<div id="dat">

</div>


<script src="/js/three.min.js"></script>
<script src="/js/TrackballControls.js"></script>
<script src="/js/MTLLoader.js"></script>
<script src="/js/dat.gui.min.js"></script>

<script src="/js/LoaderSupport.js"></script>
<script src="/js/OBJLoader2.js"></script>

<script>

    'use strict';

    var OBJLoader2 = function ( elementToBindTo ) {
        this.renderer = null;
        this.canvas = elementToBindTo;
        this.aspectRatio = 1;
        this.recalcAspectRatio();

        this.scene = null;
        this.cameraDefaults = {
            posCamera: new THREE.Vector3( 0.0, 175.0, 500.0 ),
            posCameraTarget: new THREE.Vector3( 0, 0, 0 ),
            near: 0.1,
            far: 10000,
            fov: 45
        };
        this.camera = null;
        this.cameraTarget = this.cameraDefaults.posCameraTarget;

        this.controls = null;
    };

    OBJLoader2.prototype = {

        constructor: OBJLoader2,

        initGL: function () {
            this.renderer = new THREE.WebGLRenderer( {
                canvas: this.canvas,
                antialias: true,
                autoClear: true
            } );
            this.renderer.setClearColor( 0x050505 );

            this.scene = new THREE.Scene();
            this.scene.background = new THREE.Color(0x000000);

            this.camera = new THREE.PerspectiveCamera( this.cameraDefaults.fov, this.aspectRatio, this.cameraDefaults.near, this.cameraDefaults.far );
            this.resetCamera();
            this.controls = new THREE.TrackballControls( this.camera, this.renderer.domElement );

            var ambientLight = new THREE.AmbientLight( 0xffffff );
            this.scene.add( ambientLight );

        },

        initContent: function () {
            var modelName = "{{ $name }}";
            this._reportProgress( { detail: { text: 'Loading: ' + modelName } } );

            var scope = this;
            var objLoader = new THREE.OBJLoader2();
            var callbackOnLoad = function ( event ) {
                scope.scene.add( event.detail.loaderRootNode );
                console.log( 'Loading complete: ' + event.detail.modelName );
                scope._reportProgress( { detail: { text: '' } } );

                var box = new THREE.Box3().setFromObject(objLoader);
                let radius = box.getBoundingSphere().radius;
                let scale = -200/radius;
                objLoader.scale.multiplyScalar(0.001);
            };

            var onLoadMtl = function ( materials ) {
                objLoader.setModelName( modelName );
                objLoader.setMaterials( materials );
                objLoader.setLogging( true, true );
                objLoader.load("{{ $obj }}", callbackOnLoad, null, null, null, false );
            };
            objLoader.loadMtl("{{ $mtl }}", null, onLoadMtl );
        },

        _reportProgress: function( event ) {
            var output = THREE.LoaderSupport.Validator.verifyInput( event.detail.text, '' );
            console.log( 'Progress: ' + output );
            document.getElementById( 'feedback' ).innerHTML = output;
        },

        resizeDisplayGL: function () {
            this.controls.handleResize();

            this.recalcAspectRatio();
            this.renderer.setSize( this.canvas.offsetWidth, this.canvas.offsetHeight, false );

            this.updateCamera();
        },

        recalcAspectRatio: function () {
            this.aspectRatio = ( this.canvas.offsetHeight === 0 ) ? 1 : this.canvas.offsetWidth / this.canvas.offsetHeight;
        },

        resetCamera: function () {
            this.camera.position.copy( this.cameraDefaults.posCamera );
            this.cameraTarget.copy( this.cameraDefaults.posCameraTarget );

            this.updateCamera();
        },

        updateCamera: function () {
            this.camera.aspect = this.aspectRatio;
            this.camera.lookAt( this.cameraTarget );
            this.camera.updateProjectionMatrix();
        },

        render: function () {
            if ( ! this.renderer.autoClear ) this.renderer.clear();
            this.controls.update();
            this.renderer.render( this.scene, this.camera );
        }

    };

    var app = new OBJLoader2( document.getElementById( '_3dzf' ) );

    var resizeWindow = function () {
        app.resizeDisplayGL();
    };

    var render = function () {
        requestAnimationFrame( render );
        app.render();
    };

    window.addEventListener( 'resize', resizeWindow, false );

    console.log( 'Starting initialisation phase...' );
    app.initGL();
    app.resizeDisplayGL();
    app.initContent();

    render();

</script>

<div style="text-align: center;">
    <p>
        Built with <a href="https://www.3dflow.net" target="_blank" rel="noopener">3DF Zephyr</a> | Displayed with <a href="https://threejs.org/" target="_blank">three.js</a>
    </p>
</div>